<footer class="site-footer">
  <div class="footer-grid">
    <div>
      <h5>About</h5>
      <p>
        {{ site.name }}<br>
        {{ site.title }}<br>
        {{ site.institution }}
      </p>
    </div>
    <div>
      <h5>Contact</h5>
      <p>
        {% if site.email and site.email != "" %}<a href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope"></i> {{ site.email }}</a><br>{% endif %}
        {% if site.links.github and site.links.github != "" %}<a href="{{ site.links.github }}"><i class="fa-brands fa-github"></i> GitHub</a><br>{% endif %}
      </p>
    </div>
    <div>
      <h5>Research</h5>
      <p>
        <a href="https://www.jasss.org/29/1/6.html"><i class="fa-solid fa-arrow-up-right-from-square"></i> GPLab article</a><br>
        <a href="https://github.com/SmartLegislation/GPLab"><i class="fa-brands fa-github"></i> GPLab code</a>
      </p>
    </div>
  </div>
  <div class="footer-grid">
    <div class="footer-copyright" style="grid-column: 1 / -1;">
      &copy; {{ "now" | date: "%Y" }} {{ site.name | escape }}
    </div>
  </div>
</footer>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/site.min.js" | relative_url }}"></script>
